.lastestDescription {
  display: flex;
  justify-content: space-between;
}

.lastestDescription .seemoreArt {
  text-decoration: none;
  color: #dc294f;
}

.popularsContainer {
  margin-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
