.containerBottomAds {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.adsTopFrame {
  height: 50px;
  width: 970px;
  background-color: #d8d8d8;
}

.adsText {
  height: 100%;
  color: #5a5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
